.footerContainer {
    background-color: #001529;
}

.footerSpace {
    margin: auto;
    width: 80%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #001529;
}

.footerContent {
    color: #FFFFFF;
    font-size: 0.8rem;
    text-align: left;
}

.footerContentSmall{
    color: #FFFFFF;
    font-size: 0.7rem;
    text-align: left;
}

